<% content_for(:title) do %>
  <%= @restaurant.name %> | YELP
<% end %>

<div class="container">
  <h2><%= @restaurant.name.capitalize %></h2>
  <h4><%= @restaurant.category.capitalize %></h4>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>

  <%= link_to 'Add Review', new_restaurant_review_path(@restaurant), { class: "btn btn-success" } %>
  <%= link_to 'Edit', edit_restaurant_path, {class: "btn btn-primary"} %>
  <%= link_to 'Delete', restaurant_path, method: :delete, data: { confirm: 'Are you sure ?'}, class: "btn btn-danger" %>
  <hr>
  <div>
    <% @restaurant.reviews.each do |review| %>
      <ul class="list-unstyled">
        <li>
          <%= review.content %>
          <%= review.stars %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
